<div class="bg-white rounded-lg shadow px-5 py-6 sm:px-6">
  <div class="pb-5 border-b border-gray-200 sm:flex sm:items-center sm:justify-between mb-5">
    <a href="<%= blogs_path %>" class="text-base hover:bg-blue-50 p-2 px-3 rounded-md leading-6 font-medium text-blue-500 hover:text-blue-700">
      &lsaquo; Go Back
    </a>
    <%= button_to "Publish", publish_blog_path(@blog), data: { confirm: "Are you sure?" }, method: :put %>
  </div>
  <%= render 'form', blog: @blog %>
</div>
