<div class="grid grid-cols-1 gap-4 items-start lg:grid-cols-3 lg:gap-8">
  <!-- Left column -->
  <div class="grid grid-cols-1 gap-4 lg:col-span-2">
    <section aria-labelledby="section-1-title">
      <h2 class="sr-only" id="section-1-title">Section title</h2>
      <% if alert %>
        <div class="rounded-lg bg-red-50 text-white overflow-hidden shadow mb-4">
          <div class="p-5">
            <div class="flex">
              <div class="flex-shrink-0">
                <!-- Heroicon name: solid/information-circle -->
                <svg class="h-5 w-5 text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd" />
                </svg>
              </div>
              <div class="ml-3 flex-1 md:flex md:justify-between">
                <p class="text-sm text-red-700">
                  <%= alert %>
                </p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <% if notice %>
        <div class="rounded-lg bg-blue-50 text-white overflow-hidden shadow mb-4">
          <div class="p-5">
            <div class="flex">
              <div class="flex-shrink-0">
                <!-- Heroicon name: solid/information-circle -->
                <svg class="h-5 w-5 text-blue-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd" />
                </svg>
              </div>
              <div class="ml-3 flex-1 md:flex md:justify-between">
                <p class="text-sm text-blue-700">
                  <%= notice %>
                </p>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <div class="rounded-lg bg-gray-100 overflow-hidden shadow">
        <div class="p-6">
          <% if !current_user.profile.github %>
            <%= button_to "Connect GitHub (for Analysis)", profiles_oauth_github_path, method: :get %>
          <% else %>
            Great Job! We'll let you know when we completely analyse your profile. Why don't you head over to the other
            sections and start adding your projects?
          <% end %>
        </div>
      </div>
    </section>
  </div>
  <!-- Right column -->
  <div class="grid grid-cols-1 gap-4">
    <section aria-labelledby="section-2-title">
      <h2 class="sr-only" id="section-2-title">Changelog</h2>
      <div class="rounded-lg bg-white overflow-hidden shadow">
        <div class="p-6">
          <!-- Some Stuff like Changelog and announcements for the app will go here. -->
          <div class="relative">
            <div class="absolute inset-0 flex items-center" aria-hidden="true">
              <div class="w-full border-t border-gray-300"></div>
            </div>
            <div class="relative flex justify-start">
              <span class="pr-3 bg-white text-lg font-medium text-gray-900">
                Changelog
              </span>
            </div>
          </div>
          <div class="mt-2">
            <ul class="divide-y divide-gray-200">
              <li class="py-4">
                <div class="flex space-x-3">
                  <div class="flex-1 space-y-1">
                    <div class="flex items-center justify-between">
                      <h3 class="text-sm font-medium">Beta Launched!</h3>
                      <p class="text-sm text-gray-500">25/02/2021</p>
                    </div>
                    <p class="text-sm text-gray-500">We've finally launched the beta version of the platform!</p>
                    <a class="text-blue-500 hover:text-blue-700 hover:underline cursor-pointer text-sm">Read More
                      -></a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
